:root {
    --main-bg-color: #FDEEDC;
    --main-red: #E64848;
    --main-font: 'TT Norms Pro'
}

body {
    margin: 0;
    font-family: var(--main-font);
}

.cookbooks .bg {
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

/*
.navbar {
    background: var(--main-red);
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100vw;
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
*/

.cookbooks .logo-container {
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.cookbooks .logo {
    width: 30%;
    margin-right: 1vw;
}

.cookbooks .logo-text {
    color: white;
    font-weight: 900;
}

.cookbooks .navbar-links {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 1vw;
}

.cookbooks .navbar-links > div {
    width: 25%;
}

.cookbooks .navbar-home, .cookbooks .navbar-recipes, .cookbooks .navbar-cookbooks, .cookbooks .navbar-profile {
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1.8vh;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2vh;
}

.cookbooks .navbar-recipes:hover, .navbar-cookbooks:hover, .navbar-profile:hover {
    background-color: white;
    color: var(--main-red);
}

.cookbooks .navbar-home a, .navbar-recipes a, .navbar-cookbooks a, .navbar-profile a {
    color: white;
    font-weight: 700;
    font-size: 2vh;
    text-decoration: none;
}

.cookbooks .navbar-recipes:hover a, .cookbooks .navbar-recipes:hover .cookbooks .dropdown a, .cookbooks .navbar-cookbooks:hover a, 
.cookbooks .navbar-cookbooks:hover .cookbooks .dropdown a, .cookbooks .navbar-profile:hover a, .cookbooks .navbar-profile:hover .dropdown a {
    color: var(--main-red);
}

.cookbooks .dropdown {
    display: none;
}

.cookbooks .temp-icon {
    height: 2rem;
    width: 2rem;
    background-color: lightgray;
    margin-left: 6%;
    margin-right: 6%;
}

.cookbooks .banner {
    position: relative;
}

.cookbooks .cookbook-image-placeholder{
    position: relative;
    top: 0;
    left:0;
    width: 100vw;
    height: 30vh;
    background-color: gray;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(0.3rem);
    padding-top: 3.5vw;
}

.cookbooks .banner-text {
    position: absolute;
    top: 5%;
    left: 3%;
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
}

.cookbooks .banner-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 65%;
    left: 3%;
}

.cookbooks .banner-buttons a {
    text-decoration: none;
    color: white;
}

.cookbooks .banner-button-a, .banner-button-b {             
    padding: 20px; 
    background-color: #E64848;
    border: none;
    border-radius: 30px;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.cookbooks .banner-button-b {
    margin-left: 3%; 
}

.cookbooks .banner-button-a::before, .banner-button-b::before {
    content: "+";
    display: inline-block;
    margin-right: 5px;
}

.cookbooks .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5vh;
}

.cookbooks .card-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 3%;
}

.cookbooks .card {
    background-color: white;
    border-radius: 15px;
    height: 20vh;
    width: calc(30% - 10px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin-top: 6vh;
    margin-right: 3vw;
}

.cookbooks .card-image {
    background-color: gray;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.cookbooks .card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*space-between;*/
    align-items: center;/*flex-start;*/
}

.cookbooks .card-content h3 {
    font-size: 2vh;
    color: var(--main-red);
    font-weight: 700;
    align-self: flex-start;
    text-align: center;
    margin-right: 13%;
    flex: 1;
    white-space: nowrap;

}

.cookbooks .ellipsis {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: var(--main-red);
    font-size: 2.5vh;
    font-weight: 700;
    transform: translateY(-20%);
    margin-left: 19%;
    margin-right: 5%;
    
}

.cookbooks .ellipsis:hover .popup {
    display: block;
}

.cookbooks .popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0.3vw;
    border-radius: 15px;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
    z-index: 10;
    top: -80%; 
    left: 50%; 
    transform: translate(-50%, -70%);
    width: 10vw;
}

.cookbooks .popup-icons {
    height: 1.5vh;
    width: 1.5vh;
    background-color: lightgray;
    margin-left: 0.5vh;
}

.cookbooks .popup-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1vh;
}

.cookbooks .popup::before {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: white transparent transparent transparent;
    z-index: 10;
}

.cookbooks .popup a {
    display: inline-block;;
    margin-bottom: 1vh;
    color: var(--main-red);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5vh;
    margin-left: 0.5vw;
}