:root {
    --main-bg-color: #FDEEDC;
    --main-red: #E64848;
    --main-font: 'TT Norms Pro'
}

body {
    margin: 0;
    font-family: var(--main-font);
}

.bg {
    background-color: var(--main-bg-color);
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.navbar {
    background: var(--main-red);
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100vw;
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.logo {
    width: 30%;
    margin-right: 1vw;
}

.logo-text {
    color: white;
    font-weight: 900;
}

.temp-icon {
    height: 2rem;
    width: 2rem;
    background-color: lightgray;
    margin-left: 6%;
    margin-right: 6%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
}

.main-container h2 {
    font-size: 4vh;
    color: var(--main-red);
    font-weight: 700;
    align-self: flex-start;
    text-align: left;
    margin-left: 5%;
    flex: 1;
    margin-top: 8%;
}

.main-container .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 15px;
    height: 20vh;
    width: calc(25% - 10px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1vw 4vw;
    /* margin-left: 4vw;
    margin-right: 5vw; */
}

.card-image {
    background-color: gray;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-content p {
    font-size: 1.5vh;
    font-weight: 300;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 5%;
}

.card-content h3 {
    color: var(--main-red);
    font-weight: 700;
    font-size: 2vh;
    align-self: flex-start; 
    margin-left: 5%;
}